<ul style="list-style: none;">
    <li>Name: {{vehicle.name}}</li>  
    <li>Model: {{vehicle.model}}</li>
    <li>Manufacturer: {{vehicle.manufacturer}}</li>
    <li>Cost in Credit: {{vehicle.cost_in_credit}}</li>
</ul>