<ul style="list-style: none;">
    <li>Name: {{starship.name}}</li>  
    <li>Model: {{starship.model}}</li>
    <li>Manufacturer: {{starship.manufacturer}}</li>
    <li>Cost In Credit: {{starship.cost_in_credit}}</li>
</ul>