<img src="./assets/gifs/loading_gif.gif" [hidden]="!show" alt="loading" style="position: absolute; margin: auto auto; border-radius: 50%; opacity: 0.8; width: 150px; height: 150px; left: 45%; top: 50%;">

<div>

  <div class="header">
    <h1>Star Wars Application</h1>
  </div>

  <div>
    <label for="">Select a Star wars Category:</label>
    <br>
    <select name="category" id="" [(ngModel)]="selectedItem">
      <option [value]="cat" *ngFor="let cat of categories">{{ cat }}</option>
    </select>
  </div>

  <div>
    <label for="">Select an ID:</label>
    <br>
    <input 
      min="1" 
      max="5" 
      step="1" 
      type="number" 
      [(ngModel)]="selectedID"
      [ngClass]="{'invalid': selectedID > 5}"
>
  </div>
  <br>
  
  <button [disabled]="selectedID>5" (click)="findStarWarsThing()">Search</button>
</div>

<app-people *ngIf="person" [person]="person"></app-people>
<app-planet *ngIf="planet" [planet]="planet"></app-planet>
<app-species *ngIf="species" [species]="species"></app-species>
<app-starships *ngIf="starship" [starship]="starship"></app-starships>
<app-vehicles *ngIf="vehicle" [vehicle]="vehicle"></app-vehicles>