<ul style="list-style: none;">
    <li>Name: {{species.name}}</li>  
    <li>Classification: {{species.classification}}</li>
    <li>Designation: {{species.designation}}</li>
    <li>Skin Color: {{species.skin_colors}}</li>
</ul>