<ul style="list-style: none;">
    <li>Name: {{planet.name}}</li>  
    <li>Rotation Period: {{planet.rotation_period}}</li>
    <li>Orbital Period: {{planet.orbital_period}}</li>
    <li>Diameter: {{planet.diameter}}</li>
</ul>